<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net" version="0.1.0" targetFramework="net472" />
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="ExcelDna.Interop" version="15.0.1" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.60.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.60.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.60.0" targetFramework="net472" />
  <package id="Google.Apis.Sheets.v4" version="1.60.0.2979" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.4" targetFramework="net472" />
  <package id="IronSoftware.System.Drawing" version="2023.4.4" targetFramework="net472" />
  <package id="IronXL.Excel" version="2023.4.13" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="3.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net472" />
</packages>